:root {
	--primary: #495e57;
	--secondary: #ee9972;
	--accent: #f4ce14;
	--grey: #edefee;
	--dark-grey: #333333;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* overflow-x: hidden; */
}

body {
	font-family: Karla, sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: 'Markazi Text', sans-serif;
	color: var(--dark-grey);
}

h1 {
	font-size: clamp(3rem, 6vw, 4.6rem);
	font-weight: 400;
	color: var(--accent);
}

h2 {
	font-size: clamp(2rem, 4.5vw, 3.2rem);
	font-weight: 500;
}

h3 {
	font-size: clamp(1.5rem, 3vw, 2.25rem);
	font-weight: 500;
	color: var(--grey);
	margin-top: -1.2rem;
	margin-bottom: 1.5rem;
}

h4 {
	font-size: clamp(1.5rem, 2vw, 2rem);
	color: var(--primary);
	font-weight: 600;
}

h5 {
	font-size: clamp(0.8rem, 1vw, 1rem);
	font-weight: 700;
	/* line-height: 1.5rem; */
}
