.navbar {
	padding: 1rem 2rem;
	position: relative;
}

#nav-logo {
	max-width: max(12rem, 20%);
	height: auto;
	margin-right: 2rem;
	flex: 1 1 auto;
}

.nav-links {
	display: flex;
	list-style-type: none;
	max-width: 40rem;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	font-size: clamp(0.8rem, 1.5vw, 1.2rem);
	font-weight: 700;
	color: var(--primary);
	transition: 0.1s;
	padding: 0.5rem 0.75rem;
}

.nav-link:hover {
	color: var(--dark-grey);
	background-color: var(--accent);
	border-radius: 10px;
}

.nav-link:active {
	color: var(--grey);
	background-color: var(--dark-grey);
}

.mobile-nav-btn {
	display: none;
}

@media screen and (max-width: 620px) {
	.nav-links {
		flex-direction: column;
		position: absolute;
		top: 5rem;
		left: -100%;
		background-color: white;
		width: 100%;
		transition: left 0.3s ease-in-out;
	}

	.nav-links.open {
		left: 0;
	}

	.mobile-nav-btn {
		display: block;
		border: none;
		background: none;
		font-size: 2rem;
	}
}
