#reservation-section {
	position: relative;
	padding: 0 2rem;
}

#reservation-section .container {
	gap: 8rem;
}

#reservation-section h1 {
	font-size: clamp(4rem, 6vw, 6rem);
	line-height: clamp(4rem, 6vw, 6rem);
}

#reservation-section h4 {
	color: white;
	font-family: Karla, sans-serif;
	font-size: clamp(1.2rem, 2vw, 1.5rem);
	font-weight: 800;
	margin-top: 1.5rem;
	margin-bottom: 0.75rem;
}

#reservation-section h5 {
	color: white;
	font-family: Karla, sans-serif;
	font-size: clamp(0.8rem, 1vw, 1rem);
	font-weight: 700;
	line-height: 2rem;
	margin-bottom: 0.4rem;
	margin-top: 14rem;
}

.reservation-info {
	background: none;
	flex: 1;
	padding: 5rem 0;
	max-width: 50%;
}

.opening-info {
	color: white;
	font-size: clamp(0.8rem, 1vw, 1.25rem);
	line-height: clamp(1.2rem, 1.5vw, 2.5rem);
}

.background-img {
	width: 50%;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	z-index: -1;
}

.policies {
	color: white;
	margin-left: 2rem;
	font-size: clamp(0.6rem, 1vw, 0.8rem);
	line-height: clamp(1.2rem, 1.5vw, 1.5rem);
}

.reservation-content {
	padding: 5rem 0;
	max-width: calc(70% - 2rem);
	flex: 1;
	margin: 0 auto;
}

.reservation-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.input-group {
	position: relative;
	width: 100%;
}

.input-field {
	padding: clamp(0.8rem, 1vw, 1rem);
	font-family: inherit;
	font-size: clamp(0.8rem, 1vw, 1rem);
	width: 100%;
	outline: none;
	border-radius: 0.5rem;
	border: 1px solid #999;
}

.placeholder {
	position: absolute;
	top: 1rem;
	left: 0.75rem;
	font-size: clamp(0.8rem, 1vw, 1rem);
	padding: 0 0.3rem;
	color: #999;
	transition: 0.2s ease;
	pointer-events: none;
}

.input-field:focus + .placeholder,
.placeholder.floating {
	top: -8px;
	color: #333;
	font-size: clamp(0.6rem, 1vw, 0.8rem);
	background-color: #fff;
}

.radio-group {
	width: 100%;
	margin-bottom: 1rem;
}

.radio-group-label {
	display: block;
	font-size: 1rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.radio-btns {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.radio {
	display: none;
}

.radio-label {
	background-color: #495e57;
	color: #fff;
	padding: 5px 10px;
	cursor: pointer;
}

.radio:checked + .radio-label {
	background-color: #f4ce14;
	color: #333;
}

.error {
	display: block;
	font-size: 0.8rem;
	color: #f2611e;
}

.reservation-btn {
	padding: 0.5rem 1.5rem;
	border-radius: 1.25rem;
	border: none;
	background-color: #f4ce14;
	font-weight: 700;
	font-family: karla;
}

.reservation-btn:hover {
	background-color: #495e57;
	color: #fff;
}

.reservation-btn:active {
	background-color: #333;
}

.submit {
	align-self: flex-end;
}

.confirmation-page {
	text-align: center;
}

.confirmation-page h2 {
	color: #495e57;
	font-size: clamp(2rem, 2vw, 2.5rem);
	font-weight: 500;
	line-height: clamp(3rem, 2vw, 6rem);
}

.confirmed-msg {
	font-size: clamp(1rem, 1vw, 1.25rem);
	font-weight: 500;
	line-height: 2rem;
}

.details-title {
	font-size: clamp(1rem, 1vw, 1.25rem);
	font-weight: 700;
	line-height: clamp(1rem, 1vw, 2rem);
	margin-top: 3rem;
	margin-bottom: 1.2rem;
}

.confirmed-details {
	font-size: clamp(0.8rem, 1vw, 1rem);
	font-weight: 500;
	line-height: 2rem;
}

.confirm {
	font-size: clamp(0.8rem, 1vw, 1.2rem);
	margin-top: 5rem;
}
