:root {
	--primary: #495e57;
	--secondary: #ee9972;
	--accent: #f4ce14;
	--grey: #edefee;
	--dark-grey: #333333;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* overflow-x: hidden; */
}

body {
	font-family: Karla, sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: 'Markazi Text', sans-serif;
	color: var(--dark-grey);
}

/* ##### NAVBAR STYLES ##### */

.navbar {
	padding: 1.5rem 2rem;
}

#nav-logo {
	max-width: 16rem;
	height: auto;
	margin-right: 2rem;
	flex: 1 1 auto;
}

.nav-links {
	display: flex;
	list-style-type: none;
	width: 40rem;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--primary);
	transition: 0.1s;
	padding: 0.5rem 0.75rem;
}

.nav-link:hover {
	color: var(--dark-grey);
	background-color: var(--accent);
	border-radius: 10px;
}

.nav-link:active {
	color: var(--grey);
	background-color: var(--dark-grey);
}

/* ##### HERO STYLES ##### */

#hero-section {
	background-color: var(--primary);
	padding: 3.75rem 2rem;
}

.container {
	max-width: 70rem;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

.hero-content {
	max-width: 25rem;
	margin-right: 5rem;
	justify-self: flex-start;
}

h1 {
	font-family: 'Markazi Text', sans-serif;
	font-size: 4.6rem;
	font-weight: 400;
	color: var(--accent);
}

h3 {
	font-size: 2.25rem;
	font-weight: 500;
	color: var(--grey);
	margin-top: -1.2rem;
	margin-bottom: 1.5rem;
}

.description-text {
	font-size: 1.2rem;
	font-weight: 400;
	color: #cacaca;
	line-height: 2rem;
	margin-bottom: 2rem;
}

.primary-btn {
	padding: 0.8rem 1.2rem;
	background-color: var(--accent);
	border: 3px solid var(--accent);
	border-radius: 6rem;
	font-size: 1rem;
	font-weight: 700;
	transition: 0.1s;
}

.primary-btn:hover {
	background-color: var(--primary);
	color: var(--accent);
}

.primary-btn:active {
	background-color: var(--primary);
	border-color: var(--grey);
	color: var(--grey);
}

.hero-img {
	width: 100%;
	max-width: 32rem;
	object-fit: cover;
	border-radius: 1.25rem;
	margin-bottom: -10rem;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

/* ##### MENU STYLES ##### */
#menu-section {
	padding: 12rem 2rem;
}

#menu-section .primary-btn {
	align-self: center;
	border: none;
}

#menu-section .primary-btn:hover {
	color: var(--grey);
	background-color: var(--primary);
}

#menu-section .primary-btn:active {
	color: var(--grey);
	background-color: var(--dark-grey);
}

h2 {
	font-size: 3.2rem;
	font-weight: 500;
}

.menu-cards {
	margin-top: 3.75rem;
	gap: 1.25rem;
}

.special-card {
	background-color: var(--grey);
	max-width: 33.33%;
	border-radius: 1.25rem 1.25rem 0.625rem 0.625rem;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.special-content {
	padding: 2rem;
}

h4 {
	font-size: 2rem;
	color: var(--primary);
	font-weight: 600;
}

.special-price {
	font-size: 1rem;
	font-weight: 800;
	color: var(--secondary);
}

.special-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.25rem;
}

.special-description {
	color: var(--primary);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75rem;
	margin-bottom: 3.5rem;
}

.special-btn {
	background-color: var(--primary);
	border: none;
	border-radius: 1.25rem;
	padding: 0.5rem 1.2rem;
	color: var(--grey);
	font-size: 0.8rem;
	font-weight: 700;
	transition: 0.1s;
}

.special-btn:hover {
	background-color: var(--accent);
	color: var(--dark-grey);
}

.special-btn:active {
	background-color: var(--dark-grey);
	color: var(--grey);
}

.special-image {
	width: 100%;
	max-height: 14rem;
	border-radius: 1.25rem 1.25rem 0 0;
}

/* ##### TESTIMONIAL STYLES ##### */

#testimonial-section {
	background-color: var(--primary);
	padding: 6rem 2rem;
}

#testimonial-section h2 {
	color: var(--grey);
	text-align: center;
}

.testimonials {
	gap: 1.25rem;
}

.review-card {
	background-color: var(--grey);
	border-radius: 1.25rem;
	margin-top: 3.5rem;
	padding: 1.8rem;
	width: 44%;
}

h5 {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
}

.review-header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.review-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.review-text {
	text-align: center;
	margin-top: 1rem;
	color: var(--primary);
	line-height: 1.5rem;
}

.avatar {
	max-width: 5rem;
}

/* ##### ABOUT STYLES ##### */
#about-section {
	padding: 8.75rem 2rem;
}

#about-section .container {
	gap: 6rem;
}

#about-section h1 {
	color: var(--primary);
}

#about-section h3 {
	color: var(--secondary);
}

.about-description {
	color: #808e89;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.8rem;
	max-width: 25rem;
}

/* ##### ABOUT STYLES ##### */
.footer {
	background-color: var(--dark-grey);
	color: #999;
	padding: 4rem 2rem 2rem;
}

.copyright {
	font-size: 0.75rem;
	margin-top: 5rem;
}

.footer h5 {
	color: var(--grey);
	margin-bottom: 0.75rem;
}

.footer-links {
	list-style: none;
}

.footer-link,
.contact-text {
	text-decoration: none;
	color: #999;
	line-height: 1.75rem;
	transition: 0.1s;
}

.footer-link:hover,
.contact-text:hover {
	color: #fff;
}

.contact-icon {
	margin-right: 0.5rem;
}

.social-icons {
	display: flex;
	gap: 1rem;
}

.social-icon {
	height: 2rem;
	color: #fff;
}
