:root {
	--primary: #495e57;
	--secondary: #ee9972;
	--accent: #f4ce14;
	--grey: #edefee;
	--dark-grey: #333333;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* overflow-x: hidden; */
}

body {
	font-family: Karla, sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: 'Markazi Text', sans-serif;
}

/* ##### NAVBAR STYLES ##### */

.navbar {
	padding: 1.5rem 2rem;
}

#nav-logo {
	max-width: 16rem;
	height: auto;
	margin-right: 2rem;
	flex: 1 1 auto;
}

.nav-links {
	display: flex;
	list-style-type: none;
	width: 40rem;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--primary);
	transition: 0.1s;
	padding: 0.5rem 0.75rem;
}

.nav-link:hover {
	color: var(--dark-grey);
	background-color: var(--accent);
	border-radius: 10px;
}

.nav-link:active {
	color: var(--grey);
	background-color: var(--dark-grey);
}

/* ##### HERO STYLES ##### */
#hero-section {
	background-color: var(--primary);
	padding: 3.75rem 2rem;
}

.container {
	max-width: 70rem;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

.hero-content {
	max-width: 25rem;
	margin-right: 5rem;
	justify-self: flex-start;
}

h1 {
	font-family: 'Markazi Text', sans-serif;
	font-size: 4.6rem;
	font-weight: 400;
	color: var(--accent);
}

h3 {
	font-size: 2.25rem;
	font-weight: 500;
	color: var(--grey);
	margin-top: -1.2rem;
	margin-bottom: 1.5rem;
}

.description-text {
	font-size: 1.2rem;
	font-weight: 400;
	color: #cacaca;
	line-height: 2rem;
	margin-bottom: 2rem;
}

.primary-btn {
	padding: 0.8rem 1.2rem;
	background-color: var(--accent);
	border: 2px solid var(--accent);
	border-radius: 6rem;
	font-size: 1rem;
	font-weight: 700;
	transition: 0.1s;
}

.primary-btn:hover {
	background-color: var(--primary);
	color: var(--accent);
}

.primary-btn:active {
	background-color: var(--primary);
	border-color: var(--grey);
	color: var(--grey);
}

.hero-img {
	width: 100%;
	max-width: 32rem;
	object-fit: cover;
	border-radius: 1.25rem;
	margin-bottom: -10rem;
}
